{% extends 'base.html' %}

{% block content %}

{% load static %}

{% comment %} <br> {% endcomment %}

<div >
    {% comment %} <br> {% endcomment %}
    {% if banners.0.photo is not None %}  
        <div id="carouselBanners" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for banner in banners %}
                {% if forloop.first %}  
                    <li data-target="#carouselBanners" data-slide-to="{{forloop.counter0}}" class="active"></li>
                {% else %}
                    <li data-target="#carouselBanners" data-slide-to="{{forloop.counter0}}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner" style="text-align: center; width: 100%;" >
            {% for banner in banners %}
                    {% if forloop.first %}  
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                    <div class="banner-container"
                        style="position: relative; width: 100%; padding-bottom: 31.25%;"> <!-- 192:60 aspect ratio -->
                        {% if banner.link is not None %}
                            <a href="{{banner.link}}" target="_blank" rel="noopener noreferrer">
                        {% endif %}
                        <img class="banner-img"
                            src="{{ banner.photo.url }}"
                            alt="{{ banner.photo_alt|default_if_none:"" }}"
                            style="position: absolute; top: 0; left: 0; width: 100%; max-height: 100%; object-fit: cover;">
                        {% if banner.link is not None %}  
                            </a>
                        {% endif %}

                        </div>
                    <div class="carousel-caption d-none d-md-block">
                        {% if banner.title is not None %}  
                        <h5>{{banner.title}}</h5>
                        {% endif %}
                        {% if banner.description is not None %}  
                        <p>{{banner.description}}</p>
                        {% endif %}
                    </div>
                    </div>
            {% endfor %}
        </div>
        {% if banners.1.photo is not None %}  
            <a class="carousel-control-prev" href="#carouselBanners" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselBanners" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="container my-3">
    {% if product_with_offer_list.0.is_available is not None %}  

    <div>
        <h5 class="card-title">
            <a class="text-decoration-none text-dark">Promoções</a>
        </h5>
    
        <div class="d-flex flex-nowrap" style="overflow-x: scroll;">
            {% for product in product_with_offer_list %}
                <div class="card" display="inline-block"
                     style="min-width: 150px; max-width: 210px; margin-right: 16px; margin-bottom: 16px;">
                    <a href="{{ product.get_absolute_url }}">
                        <div style="width: 100%; padding-top: 10px; background-color: rgba(0,0,0,0.9); position: absolute; top: 0%; left: 0%; transform: translate(-0%, -0%);">
                            {% if product.is_discount_absolute %}
                                <h6 style="color: white; text-align: center;">-R${{ product.absolute_discount }}</h6>
                            {% else %}
                                <h6 style="color: white; text-align: center;">-{{ product.relative_discount }}%</h6>
                            {% endif %}
                        </div>

                        {% if product.image.url %}
                            <img class="card-img-top" src="{{product.image.url}}" alt="">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
                        {% endif %}
                    </a>
        
                    <a class="text-decoration-none text-dark" href="{{ product.get_absolute_url }}">
                        <h6 class="card-title" style="white-space:pre-wrap; word-break:break-word; margin: 8px;">{{ product.name }}</h6>
                    </a>
                    <a class="text-decoration-none text-dark" href="{{ product.get_absolute_url }}">
                        <p class="card-text" style="font-size:80%; white-space:pre-wrap; word-break:break-word; margin: 8px;"><s>De: R${{ product.base_price }}</s></p>
                        <p class="card-text font-weight-bold" style="white-space:pre-wrap; word-break:break-word; margin: 8px;">Por: R${{ product.price }}</p>
                    </a>
                </div>
            {% endfor %}

        </div>
    
    </div>
    <br>
    {% endif %}


    {% for cat in categories %}
    <div>
        <h5 class="card-title">
            <a class="text-decoration-none text-dark" href="{% url 'products:list_by_category' slug=cat.slug %}">{{ cat.name }}</a>
        </h5>

        <div class="d-flex flex-nowrap" style="overflow-x: scroll;">
        {% for product in product_list  %}
            {% if product.category == cat %}
                <div class="card" style="min-width: 150px; max-width: 210px; margin-right: 16px; margin-bottom: 16px;" display="inline-block">
                    <a href="{{ product.get_absolute_url }}">
                        {% if product.image.url %}
                            <img class="card-img-top" src="{{product.image.url}}" alt="">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
                        {% endif %}
                    </a>

                    <a class="text-decoration-none text-dark" href="{{ product.get_absolute_url }}">
                        <h6 class="card-title" style="white-space:pre-wrap; word-break:break-word; margin: 8px;">{{ product.name }}</h6>
                    </a>
                    <a class="text-decoration-none text-dark" href="{{ product.get_absolute_url }}">
                        <p class="card-text font-weight-bold" style="white-space:pre-wrap; word-break:break-word; margin: 8px;">R${{ product.price }}</p>
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        <div class="card" style="min-width: 150px; max-width: 210px; margin-right: 16px; margin-bottom: 16px;" display="inline-block">
            <a href="{% url 'products:list_by_category' slug=cat.slug %}">
                <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
            </a>
        
            <a class="text-decoration-none text-dark" href="{% url 'products:list_by_category' slug=cat.slug %}">
                <h6 class="card-title" style="white-space:pre-wrap; word-break:break-word; margin: 8px;">Mais {{ cat.name|lower }}</h6>
            </a>
            <a class="text-decoration-none text-dark" href="{% url 'products:list_by_category' slug=cat.slug %}">
                <p class="card-text font-weight-bold"></p>
            </a>
        </div>

    </div>

    </div>
    <br>
    {% endfor %}

</div>

{% endblock content %}
