<div class="paginator">
  <ul class="pagination">
    {% if page.has_previous %}
    <li class="page-item page-prev">
      <a class="page-link"
         href="?page={{ page.previous_page_number }}"
         tabindex="-1"
         aria-disabled="true"><i class="fa-solid fa-chevron-left"></i> PÁGINA ANTERIOR</a>
    </li>
    {% endif %}

    {% comment %} the next command generates a string of length page.paginator.num_pages {% endcomment %}
    {% comment %} then iterates over each character {% endcomment %}
    {% for _ in ""|rjust:page.paginator.num_pages %}
    {% if forloop.counter == page.number%}
    <li class="page-item active" aria-current="page">
    {% else %}
    <li class="page-item" aria-current="page">
    {% endif %}
      <a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a>
    </li>
    {% endfor %}

    {% if page.has_next %}
    <li class="page-item page-next">
      <a class="page-link"
         href="?page={{ page.next_page_number }}"
         tabindex="-1"
         aria-disabled="true">PRÓXIMA PÁGINA <i class="fa-solid fa-chevron-right"></i></a>
    </li>
    {% endif %}
  </ul>
</div>
